@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-orange-500 {
    background-color: #f97316; /* Tailwind orange-500 */
  }
  .bg-red-600 {
    background-color: #dc2626; /* Tailwind red-600 */
  }
  .bg-cyan-500 {
    background-color: #06b6d4; /* Tailwind cyan-500 */
  }
  .hover\:bg-cyan-600:hover {
    background-color: #0891b2; /* Tailwind cyan-600 */
  }
}